<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Form</title>
</head>
<body>

<h2>Add Student</h2>

<form action="/save" method="post">
    Name: <input type="text" name="stuname"><br>
    Roll: <input type="text" name="sturoll"><br>
    Address: <input type="text" name="stuadd"><br>
    Email: <input type="text" name="stuemail"><br>
    <button type="submit">Save</button>
</form>

<h2>Student List</h2>
<table border="1">
    <tr>
        <th>ID</th><th>Name</th><th>Roll</th><th>Address</th><th>Email</th>
    </tr>

    <tr th:each="s : ${list}">
        <td th:text="${s.stuid}"></td>
        <td th:text="${s.stuname}"></td>
        <td th:text="${s.sturoll}"></td>
        <td th:text="${s.stuadd}"></td>
        <td th:text="${s.stuemail}"></td>
    </tr>
</table>

</body>
</html>